.slider {
    --theme-color: #0d5ef4;
    --theme-color2: #f20f10;
    --title-color: #0f2239;
    --body-color: #4d5765;
    --smoke-color: #f3f7fb;
    --black-color: #000000;
    --white-color: #ffffff;
    --border-color: #ffffff33;
    --light-color: #72849b;
    --yellow-color: #ffb539;
    --success-color: #28a745;
    --error-color: #dc3545;
    --border-color: #ecf1f9;
    --main-container: 1400px;
    --header-top: 54px;
    --header-nav: 106px;
    --container-gutters: 24px;
    --section-space: 120px;
    --section-space-mobile: 80px;
    --section-title-space: 70px;
    --ripple-ani-duration: 5s;
    --transition: all 0.3s linear;
    --animation-fadeIn: slideIn 0.3s ease forwards;

    // margin-top: var(--header-nav);
    min-height: 847px;
    overflow: hidden;
}

.wrapper {
    position: relative;
    min-height: 847px;
}

.background {
    width: 100%;
    height: 100%;
    background-image: url('../../../assets/images/Slider/hero_bg_1_2.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: filter 0.3s ease;
    animation: var(--animation-fadeIn);
    overflow: hidden;
}

.background::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--title-color);
    opacity: 0.8;
    z-index: 1;
}

//
.hero-shape {
    .shape-1 {
        position: absolute;
        top: 24%;
        right: 0%;
        width: 75%;
        height: 100%;
        z-index: 1;
    }

    .shape-2 {
        position: absolute;
        top: 30%;
        right: -44.4%;
        width: 75%;
        height: 100%;
        z-index: 1;
        animation: jumpAni 10s linear infinite;
        transition: var(--transition);
    }

    .shape-3 {
        position: absolute;
        top: -420px;
        left: -330px;
        width: 619.52px;
        height: 619.52px;
        border: 2px solid rgba(255, 255, 255, 0.15);
        border-radius: 100px;
        -webkit-transform: rotate(25.36deg);
        -ms-transform: rotate(25.36deg);
        transform: rotate(25.36deg);
        z-index: 2;
        -webkit-animation: spin 40s linear infinite;
        animation: spin 40s linear infinite;
    }

    .shape-4 {
        position: absolute;
        bottom: 5%;
        right: 5%;
        width: 10%;
        z-index: 6;
        animation: jumpReverseAni 7s linear infinite;
        transition: var(--transition);
    }

    .shape-5 {
        position: absolute;
        bottom: -1%;
        left: 0;
        width: 14%;
        z-index: 6;
        animation: jumpReverseAni2 7s linear infinite;
        transition: var(--transition);
    }
}

:global(.swiper-pagination-bullet) {
    width: 20px;
    height: 20px;
    margin: 0 10px !important;
    margin-bottom: 10px !important;
}

// Keyframes
@keyframes jumpAni {
    0% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(5%);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes jumpReverseAni {
    0% {
        bottom: 5%;
    }
    40% {
        bottom: 2%;
    }
    100% {
        bottom: 5%;
    }
}

@keyframes jumpReverseAni2 {
    0% {
        bottom: -1%;
    }
    40% {
        bottom: -5%;
    }
    100% {
        bottom: -1%;
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

