.header-top {
    --theme-color: #0d5ef4;
    --title-color: #0f2239;
    --black-color: #000000;
    --white-color: #ffffff;
    --border-color: #ffffff33;
    --transition: all 0.3s linear;
    --header-top: 54px;
    --header-nav: 106px;

    height: var(--header-top);
    background-color: var(--theme-color);
    transition: var(--transition);
}

.dp-none {
    display: none;
}

.wrapper {
    max-width: var(--main-container);
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list-box1,
.list-box2 {
    display: flex;
    // gap: 30px;
    padding: 0 12px;
    align-items: center;
}

.item-box1,
.item-box2 {
    display: flex;
    gap: 10px;
    align-items: center;
    color: var(--white-color);
    font-weight: 400;
}

.item-box1:nth-child(2) {
    margin: 0 12px;
    padding: 0 12px;
    border-right: 1px solid var(--border-color);
    border-left: 1px solid var(--border-color);
}

.item-box2:nth-child(1) {
    margin-right: 20px;
}

.link {
    color: var(--white-color);
    cursor: pointer;
    transition: var(--transition);

    &:hover {
        color: var(--black-color);
    }

    img {
        width: 30px;
        height: 30px;
        border-radius: 50%;
    }
}

.login-wrap_btn {
    width: 45px;
    height: 45px;
    display: flex;
    cursor: pointer;
    transition: var(--transition);
    background-color: var(--black-color);
    border-radius: 10px;
    justify-content: center;
    align-items: center;
}

.phone-link,
.mail-link,
.login {
    color: var(--white-color);
    font-size: 16px;
    text-decoration: none;
    font-weight: 400;
    transition: var(--transition);

    &:hover {
        color: var(--black-color);
    }
}

.time {
    color: var(--white-color);
    font-size: 16px;
    text-decoration: none;
    font-weight: 400;
    transition: var(--transition);
}

.user {
    cursor: pointer;
}

.icon-brands {
    display: flex;
    gap: 20px;
}

.link-brand {
}

.icon {
    color: var(--white-color);
    font-size: 1.6rem;
}

//==============================Responsive styles==============================
// Mobile nhỏ (dưới 480px)
@media (max-width: 480px) {
    .list-box1 {
        display: flex;
        // gap: 30px;
        padding: 0 12px;
        align-items: center;
        display: none;
    }

    .item-box2:nth-child(2) {
        display: flex !important;
        gap: 10px;
        align-items: center;
        color: var(--white-color);
        font-weight: 400;
    }

    .wrapper {
        max-width: var(--main-container);
        height: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

// Tablet (768px trở xuống)
@media (max-width: 768px) {
    .list-box1 {
        display: flex;
        // gap: 30px;
        padding: 0 12px;
        align-items: center;
        display: none;
    }

    .list-box2 {
        width: 100%;
        display: flex;
        // gap: 30px;
        padding: 0 12px;
        justify-content: space-between;
        align-items: center;
    }

    .item-box2:nth-child(2) {
        display: flex;
        gap: 10px;
        align-items: center;
        color: var(--white-color);
        font-weight: 400;
    }

    .wrapper {
        max-width: var(--main-container);
        height: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

// Laptop nhỏ (1024px trở xuống)
@media (max-width: 1024px) and (min-width: 768px) {
    .list-box1 {
        display: flex;
        // gap: 30px;
        padding: 0 12px;
        align-items: center;
        display: none;
    }

    .list-box2 {
        width: 100%;
        display: flex;
        // gap: 30px;
        padding: 0 12px;
        justify-content: space-between;
        align-items: center;
        margin: 0 24px;
    }

    .item-box2:nth-child(2) {
        display: flex;
        gap: 10px;
        align-items: center;
        color: var(--white-color);
        font-weight: 400;
    }

    .wrapper {
        max-width: var(--main-container);
        height: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

// PC & Laptop lớn (1280px trở xuống)
@media (max-width: 1280px) {
}
