.container {
    max-width: var(--main-container) !important;
    margin: 0 auto;
    padding: 100px 0;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--white-color);
    z-index: 6;
    padding: 0 20px;
}

.content-heading {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.6rem;
    margin-bottom: 30px;

    span {
        padding: 6px 16px;
        background-color: var(--theme-color);
        margin-right: 10px;
        border-radius: 20px;
    }
}

.content-body {
    text-transform: capitalize;
    font-weight: 600;
    font-size: 3rem;
    line-height: 70px;

    .title {
        font-size: 58px;
        font-weight: 600;

        .highlight {
            color: var(--theme-color);
        }
    }
}

.content-description {
    margin: 20px 0 35px 0;

    p {
        font-size: 1.6rem;
        color: #b2b2b2;
    }
}

.image {
    max-width: 660px;
    max-height: 660px;
    z-index: 6;
    // position: relative;
    // right: -90px;
}

.custom-btn {
    width: 22%;
    font-size: 1.4rem;
    text-transform: uppercase;
}
