.container {
    max-width: var(--main-container) !important;
    margin: 0 auto;
    padding: 100px 0;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--white-color);
    z-index: 6;
    padding: 0 20px;
}

.content-heading {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.6rem;
    margin-bottom: 30px;

    span {
        padding: 6px 16px;
        background-color: var(--theme-color);
        margin-right: 10px;
        border-radius: 20px;
    }

    .sale {
        background-color: var(--sale-color);
        color: #fff;
        border-radius: 20px;
        font-weight: 600;
        transition: var(--transition);
    }
}

.content-body {
    text-transform: capitalize;
    font-weight: 600;
    font-size: 3rem;
    line-height: 70px;

    .title {
        font-size: 58px;
        font-weight: 600;

        .highlight {
            color: var(--theme-color);
        }
    }
}

.content-description {
    margin: 20px 0 35px 0;

    p {
        font-size: 1.6rem;
        color: #b2b2b2;
    }
}

.image {
    max-width: 660px;
    max-height: 660px;
    z-index: 6;
    border-radius: 50%;
}

.custom-btn {
    width: 22%;
    font-size: 1.4rem;
    text-transform: uppercase;
}

//==============================Responsive styles==============================
// Mobile nhỏ (dưới 480px)
@media (max-width: 480px) {
    .content {
        padding: 0 12px !important;
    }

    .image {
        display: none;
    }

    .title {
        font-size: 3.2rem !important;
    }

    .content-description {
        p {
            font-size: 1.4rem;
        }
    }

    .custom-btn {
        width: 45%;
    }
}

// Tablet nhỏ (768px trở xuống)
@media (max-width: 768px) and (min-width: 480px) {
    .content {
        padding: 0 12px !important;
        margin: 0 24px;
    }

    .image {
        // display: none;
        max-width: 330px !important;
        max-height: 330px !important;
        padding-right: 24px !important;
    }

    .title {
        font-size: 3.4rem !important;
    }

    .content {
        width: 50% !important;
    }

    .content-description {
        p {
            font-size: 1.4rem;
        }
    }

    .custom-btn {
        width: 45% !important;
    }
}

// Tablet (820px to 768px)
@media (max-width: 820px) and (min-width: 769px) {
    .content {
        padding: 0 34px !important;
    }

    .image {
        width: 330px !important;
        height: 330px !important;
    }

    .title {
        font-size: 3.4rem !important;
    }

    .content {
        width: 52% !important;
    }

    .content-description {
        p {
            font-size: 1.4rem;
        }
    }

    .custom-btn {
        width: 45%;
    }
}

// Laptop nhỏ (1024px to 820px)
@media (max-width: 1024px) and (min-width: 821px) {
    .content {
        padding: 0 34px !important;
    }

    .image {
        width: 456px !important;
        height: 456px !important;
    }

    .title {
        font-size: 3.4rem !important;
    }

    .content-description {
        p {
            font-size: 1.4rem;
        }
    }

    .custom-btn {
        width: 35%;
    }
}

// PC & Laptop lớn (1280px trở xuống)
@media (max-width: 1280px) {
}
