.custom-btn {
    width: 10%;
    font-size: 1.4rem;
}

.sliderRouter {
    height: 400px;
}

.bg {
    width: 100%;
    height: 400px;
    background-image: url('../../../assets/images/Introduce/Slider/breadcumb-bg-2.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    &::before {
        content: '';
        position: absolute;
        background-color: var(--title-color);
        width: 100%;
        height: 100%;
        opacity: 0.8;
        z-index: 1;
        transition: opacity 0.3s ease;
    }
}

.shape1 {
    position: absolute;
    background-image: url('../../../assets/images/Introduce/Slider/breadcumb_shape_1_1.png');
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.shape2 {
    position: absolute;
    background-image: url('../../../assets/images/Introduce/Slider/breadcumb_shape_1_2.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 145px;
    height: 77px;
    right: 30px;
    bottom: 30px;
    animation: jumpAni 5s linear infinite;
    z-index: 1;
}

.shape3 {
    position: absolute;
    background-image: url('../../../assets/images/Introduce/Slider/breadcumb_shape_1_3.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 30px;
    height: 75px;
    left: 50px;
    bottom: 30px;
    animation: jumpAni 5s linear infinite;
    z-index: 1;
}

@keyframes jumpAni {
    0% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-30%);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes jumpReverseAni {
    0% {
        bottom: 5%;
    }
    40% {
        bottom: 2%;
    }
    100% {
        bottom: 5%;
    }
}

@keyframes jumpReverseAni2 {
    0% {
        bottom: -1%;
    }
    40% {
        bottom: -5%;
    }
    100% {
        bottom: -1%;
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

//==============================Responsive styles==============================
// Mobile (345px trở xuống)
@media (max-width: 344px) {
    .shape2,
    .shape3 {
        display: none;
    }
}

// Mobile (480px xuống 345px)
@media (max-width: 480px) and (min-width: 345px) {
    .shape2,
    .shape3 {
        display: none;
    }
}

// Tablet nhỏ (768px xuống 481px)
@media (max-width: 768px) and (min-width: 481px) {
    .shape2,
    .shape3 {
        display: none;
    }
}

// Tablet (820px xuống 769px)
@media (max-width: 820px) and (min-width: 769px) {
    .shape2,
    .shape3 {
        display: none;
    }
}

// Laptop nhỏ (1024px xuống 821px)
@media (max-width: 1024px) and (min-width: 821px) {
}

// PC & Laptop lớn (1280px xuống 1025px)
@media (max-width: 1280px) and (min-width: 1025px) {
}
