.sb-search {
    width: 420px; /* Kích thước mặc định */
    max-width: 100%; /* Đảm bảo không vượt quá kích thước màn hình */
    display: flex;
    position: relative;

    .sb-input {
        width: 100%;
        padding: 8px 16px 8px 48px;
        border-radius: 25px;
        border: 2px solid rgb(232, 232, 232);
        transition: var(--transition);

        &:focus {
            border-color: var(--theme-color);
        }
    }

    .sb-btn {
        position: absolute;
        left: 10px;
        transform: translate(50%, 50%);
        background-color: transparent;

        

        .icon-Search {
            font-size: 1.8rem;
            color: #8f8f8f;
            cursor: default;
            transition: var(--transition);

            &:hover {
                color: var(--body-color);
            }
        }
    }

    .clear-text {
        position: absolute;
        right: 25px;
        top: 0;
        transform: translate(50%, 10px);

        .icon-clear {
            cursor: pointer;
            color: var(--body-color);
        }
    }
}

.icon-Search2 {
    font-size: 1.8rem;
    color: var(--theme-color) !important;
    cursor: default;
    transition: var(--transition);
}