.pp-course {
    background-image: url('../../../assets/images/Home/ProductContent/course_bg_1-2.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding: 100px 0;
    margin-top: 100px;

    .wrapper {
        max-width: var(--main-container) !important;
        margin: 0 auto;
    }
}

.custom-card {
    min-width: 335px !important;
    min-height: 500px;
    padding: 0;
    border-radius: 10px;
}

.custom-cardContent {
    text-align: start;
    padding: 0 20px;
}

.custom-subTitle {
    font-size: 4.4rem !important;
    margin-bottom: 20px !important;
}

.custom-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
