body.light {
    background-color: #ffffff;
    color: #000000;
    transition: all 0.3s linear;
}

body.dark {
    background-color: #000000;
    transition: all 0.3s linear;
    color: #ffffff;
}

body.dark a:hover {
    color: var(--theme-color)!important;
}

body.light header {
    background-color: var(--theme-color);
    color: #000000;
    transition: all 0.3s linear;
}

body.dark header {
    background-color: #000000;
    transition: all 0.3s linear;
    color: #ffffff;
}

body.dark h2,
body.dark .description1,
body.dark .description2 {
    color: var(--white-color) !important;
}
