.wcu {
}

.container {
    max-width: var(--main-container);
    margin: 0 auto;
}

.contentFirst {
    margin-right: 55px;
    position: relative;

    .wrap-img {
        padding-top: 20px;
        padding-left: 20px;
        margin-bottom: 27px;

        .img {
            width: 100%;
            object-fit: cover;
            border-radius: 10px;
            transition: transform 0.3s ease;
        }
    }

    .button-wrap {
        display: flex;
        justify-content: flex-end;
        gap: 10px;
        margin-top: 20px;
    }

    .studentJump {
        position: absolute;
        top: 30%;
        left: -4%;
        padding: 30px;
        border-radius: 10px;
        background-color: #fff;
        box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15); /* Tăng độ bóng */
        animation: jumpAni2 4s linear infinite;

        h5 {
            font-size: 2.4rem;
            color: #4d5765;
            margin-bottom: 18px;
            font-weight: 600;

            .highlight {
                color: var(--theme-color);
                margin-right: 5px;
            }
        }

        .img2 {
            width: 188px;
            height: 56px;
        }
    }
}

.content {
    display: flex;
    gap: 15px;
    margin-bottom: 20px;
    padding: 20px;

    .box {
        position: relative;
        max-width: fit-content;
        height: 293px;
        display: flex;
        gap: 10px;
        background-color: #f3f7f8;
        border-radius: 10px;
        border-left: 10px solid var(--theme-color);
        padding: 30px;
        margin: 10px 2.5px;
        transition: transform 0.3s ease, box-shadow 0.3s ease;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: -10px;
            width: 70px; /* Tùy chỉnh kích thước góc */
            height: 70px;
            background-color: #d0dbe9; /* Màu góc */
            border-top-left-radius: 10px; /* Bo góc trùng với card */
            clip-path: polygon(0 0, 100% 0, 0 100%);
        }

        &:hover {
            transform: translateY(-5px); /* Di chuyển nhẹ lên trên */
            box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15); /* Tăng độ bóng */
        }
    }

    .wrap-icon {
        .icon {
            font-size: 3rem;
            color: var(--theme-color);
        }
    }

    .title {
        h3 {
            font-size: 2.2rem;
            color: var(--title-color);
            font-weight: 600;
            text-transform: capitalize;
            line-height: 1.6;
        }
    }

    .custom-sub {
        text-transform: capitalize;
        margin-bottom: 15px !important;
    }
}

@keyframes jumpAni2 {
    0% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(14%);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes jumpReverseAni {
    0% {
        bottom: 5%;
    }
    40% {
        bottom: 2%;
    }
    100% {
        bottom: 5%;
    }
}
