.testimonial {
    padding-top: 80px;
}

.bg {
    background-image: url('../../../assets/images/Home/Testimonial/testi_bg_1-2.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 200px 0 80px 0;
    // margin-top: 100px;
    width: 100%;
    min-height: 904px;
    position: relative;
}

.wrapper {
    max-width: var(--main-container);
    margin: 0 auto;
}

.box {
    margin: 10px;
    padding: 50px;
    background-color: var(--white-color);
    box-shadow: 0px 10px 15px 0px rgba(208, 219, 233, 0.3);
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    z-index: 1;
}

.custom-box {
    text-align: center;
    text-transform: capitalize;
}

.content {
    display: flex;
    // flex-wrap: wrap;
    gap: 30px;

    p {
        font-size: 2rem;
        line-height: 1.5;
        margin-bottom: 0;
    }
}

.img {
    width: 120px;
    height: 120px;
    border-radius: 10px;
    object-fit: cover;
}

.footer {
    margin-top: 40px;
    padding-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #dae5f0;
}

.name {
    h3 {
        font-size: 2.4rem;
        color: var(--title-color);
        font-weight: 600;
    }

    p {
        font-size: 1.6rem;
        color: var(--theme-color);
    }
}

.wrap-ratingNum {
    font-size: 1.6rem;
    color: var(--theme-color);

    :global(.css-i0l71t-MuiRating-root) {
        font-size: 2rem;
        color: var(--theme-color);
    }
}

.shape {
    position: absolute;
    top: 0;
    left: 0;
    background: var(--shape-color);
    z-index: -1;
    border-radius: 0 0 100% 100%;
}

.shape-wrap1 {
    position: absolute;
    bottom: 40px;
    right: 0;
    animation: jumpAni 7s linear infinite;
}

.shape-wrap2 {
    position: absolute;
    top: 40px;
    left: 0;
    animation: spin 10s linear infinite;
}

@keyframes jumpAni {
    0% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(50%);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}