.about-content {
    padding-top: 80px;
}

.wrapper {
    max-width: var(--main-container);
    margin: 0 auto;
}

.content-img {
    position: relative;
    height: 490px;

    .img1-wrap {
        .img1 {
            border-radius: 10px;
        }
    }

    .img2-wrap {
        position: absolute;
        bottom: 0;
        right: 10%;
        border: 10px solid #fff;
        border-right: none;
        border-radius: 10px;
        overflow: hidden; /* Giới hạn phần ảnh tràn */
        background-color: #fff;

        .img2 {
            border-radius: 10px;
            transition: var(--transition);
        }
    }

    .img3-wrap {
        position: absolute;
        top: 0;
        right: 10%;
        border-radius: 10px;

        .bg {
            max-width: 155px;
            min-height: 240px;
            background-image: url('../../../assets/images/Home/AboutContent/about_1_3.webp');
            background-position: center;
            background-repeat: no-repeat;
            border-radius: 10px;
            background-size: cover;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            &:after {
                content: '';
                position: absolute;
                left: 0;
                top: 0;
                height: 100%;
                width: 100%;
                background: -webkit-linear-gradient(top, rgba(13, 94, 244, 0) 0%, rgba(13, 94, 244, 0.6) 100%);
                background: linear-gradient(180deg, rgba(13, 94, 244, 0) 0%, rgba(13, 94, 244, 0.6) 100%);
                z-index: 1;
                border-radius: 10px;
            }

            .content {
                text-align: center;
                z-index: 2;

                h3 {
                    font-size: 44px;
                    color: var(--white-color);
                    font-weight: 700;
                    margin-bottom: 6px;
                }

                p {
                    color: var(--white-color);
                    font-size: 1.4rem;
                    font-weight: 700;
                    text-transform: uppercase;
                    margin: 0 17px;
                }

                .theme {
                    color: var(--theme-color);
                }
            }
        }
    }

    .shape1-wrap {
        position: relative;
        bottom: 31%;
        left: -8%;
        width: 320px;
        height: auto;
        z-index: 2;
        animation: jumpAni 4s linear infinite;

        @keyframes jumpAni {
            0% {
                transform: translateY(0);
            }
            40% {
                transform: translateY(7%);
            }
            100% {
                transform: translateY(0);
            }
        }

        .shape1 {
        }

        &::before {
            content: '';
            position: absolute;
            left: 98px;
            bottom: 57px;
            border: 10px solid var(--theme-color2);
            border-radius: 50%;
            width: 60px;
            height: 60px;
        }

        &::after {
            content: '';
            position: absolute;
            left: 6px;
            bottom: 26px;
            display: block;
            width: 122px;
            height: 122px;
            border: 5px solid var(--theme-color);
            border-radius: 50%;
            z-index: -1;
        }
    }
}

.custom-sub {
    font-size: 4rem;
    text-transform: capitalize;
    margin-bottom: 15px;
    line-height: 1.208;
}

.check {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    padding-bottom: 40px;

    .check-img {
        .custom-img {
            width: 100%;
            height: auto;
            object-fit: cover;
            border-radius: 10px;
            // margin-bottom: 15px;
        }
    }
}

.check-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;

    .check-list {
    }

    .check-item {
        font-family: var(--font-Roboto);
        font-size: 1.6rem;
        color: var(--dark-gray-color);
        margin-bottom: 10px;

        span {
            display: flex;
            align-items: center;
        }
    }

    .icon {
        width: 16px;
        height: 26px;
        margin-right: 16px;
        color: var(--theme-color);
        transition: var(--transition);
    }
}

//==============================Responsive styles==============================
// Mobile supper small (dưới 375px) 
@media (max-width: 375px) {
    .about-content {
        padding-top: 80px;
        padding-left: 12px;
        padding-right: 12px;
        padding-bottom: 60px;
    }

    .img1-wrap {
        width: 174px;
        // position: absolute;
        // top: 50px;
    }

    .img2-wrap {
        position: absolute;
        right: 3% !important;
        bottom: 50px !important;
    }

    .img3-wrap {
        position: absolute;
        right: 3% !important;
    }

    .shape1-wrap {
        display: none;
    }

    .content-title {
        margin-top: 30px;
    }

    .custom-sub {
        font-size: 2.6rem !important;
        margin-bottom: 20px !important;
    }
}

// Mobile (dưới 480px to 375px)
@media (max-width: 480px) and (min-width: 375px){
    .about-content {
        padding-top: 80px;
        padding-left: 12px;
        padding-right: 12px;
        padding-bottom: 60px;
    }

    .img1-wrap {
        width: 220px;
        // position: absolute;
        // top: 50px;
    }

    .img2-wrap {
        position: absolute;
        right: 3% !important;
    }

    .img3-wrap {
        position: absolute;
        right: 3% !important;
    }

    .shape1-wrap {
        display: none;
    }

    .content-title {
        margin-top: 30px;
    }

    .custom-sub {
        font-size: 2.6rem !important;
        margin-bottom: 20px !important;
    }
}

// Tablet nhỏ (768px trở xuống to 480px)
@media (max-width: 768px) and (min-width: 480px) {
    .about-content {
        padding-top: 80px;
        padding-left: 12px;
        padding-right: 12px;
        padding-bottom: 60px;
        margin: 0 24px;
    }

    .shape1-wrap {
        position: relative;
        left: 0 !important;
    }

    .content-title {
        margin-top: 30px;
    }

    .custom-sub {
        margin-bottom: 20px !important;
    }
}

// Tablet (820px trở xuống to 768px)
@media (max-width: 820px) and (min-width: 769px) {
    .about-content {
        padding-top: 80px;
        padding-left: 12px;
        padding-right: 12px;
        padding-bottom: 60px;
        margin: 0 24px;
    }

    .shape1-wrap {
        position: relative;
        left: 0 !important;
    }

    .content-title {
        margin-top: 30px;
    }

    .content-img {
        // text-align: center;
    }

    .img2-wrap {
        position: absolute;
        left: 270px;
    }

    .img3-wrap {
        right: 16.2% !important;
    }

    .custom-col100 {
        width: 100% !important;
        margin-bottom: 20px;
    }

    .custom-sub {
        margin-bottom: 20px !important;
    }
}

// Laptop nhỏ (1024px trở xuống to 820px)
@media (max-width: 1024px) and (min-width: 821px) {
    .about-content {
        padding-top: 80px;
        padding-left: 12px;
        padding-right: 12px;
        padding-bottom: 60px;
        margin: 0 24px;
    }

    .shape1-wrap {
        position: relative;
        left: 0 !important;
    }

    .content-title {
        margin-top: 30px;
    }

    .content-img {
        // text-align: center;
    }

    .img2-wrap {
        position: absolute;
        left: 270px;
    }

    .img3-wrap {
        right: 34.3% !important;
    }

    .custom-col100 {
        width: 100% !important;
        margin-bottom: 20px;
    }

    .custom-sub {
        margin-bottom: 20px !important;
    }
}

// PC & Laptop lớn (1280px trở xuống)
@media (max-width: 1280px) {
}
