:root {
    --theme-color: #0d5ef4;
    --theme-color2: #f20f10;
    --title-color: #0f2239;
    --body-color: #4d5765;
    --smoke-color: #f3f7fb;
    --black-color: #000000;
    --white-color: #ffffff;
    --border-color: #ffffff33;
    --light-color: #72849b;
    --yellow-color: #ffb539;
    --success-color: #28a745;
    --error-color: #dc3545;
    --border-color: #ecf1f9;
    --main-container: 1400px;
    --header-top: 54px;
    --header-nav: 106px;
    --container-gutters: 24px;
    --section-space: 120px;
    --section-space-mobile: 80px;
    --section-title-space: 70px;
    --ripple-ani-duration: 5s;
    --transition: all 0.3s linear;
    --animation-fadeIn: slideIn 0.3s ease forwards;
    --animation-time-during: 7s linear infinite;
    --font-Roboto: 'Roboto', serif;
}

.events {
    // background-color: #f2f6fa;
    padding: 80px 0;
    display: flex;
    justify-content: center;
}

.wrapper {
    max-width: var(--main-container);
    margin: 0 auto;
    padding: 0 20px;
    // background-color: #f2f6fa;
}

.custom-colW100 {
    padding: 24px !important;
}

.event {
    min-width: 414px;
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: center;
}

.wrap-content {
    -webkit-box-align: center;
    -ms-flex-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding: 40px;
    border-radius: 10px;
    background-color: var(--white-color);
    margin-top: 67px;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.13);
}

.img_wrap {
    position: absolute;
    display: inline-block;
    left: -10px;
    top: 0;
    overflow: hidden; /* Ẩn phần thừa ra ngoài */
    background: transparent; /* Màu nền */
    z-index: 3;

    // &::before {
    //     content: "";
    //     position: absolute;
    //     left: 0;
    //     top: 0;
    //     width: 100%;
    //     height: 100%;
    //     background-image: url('../../../assets/images/Home/EventHome/event_img-shape-2.png');
    //     background-position: center;
    // }
}

.imgContent {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    object-fit: cover; /* Đảm bảo hình vừa khít trong container */
    mask-image: url('../../../src/assets/images/Home/EventHome/event_img-shape-2.png');
    mask-position: 100% 100%;
    mask-size: cover;
    mask-repeat: no-repeat;
}

.event-author {
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: end;
    margin-right: 30px;
}

.author-info {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .author-name {
        font-size: 1.6rem;
        color: var(--title-color);
        font-weight: 500;
    }

    .author-position {
        font-size: 1.2rem;
        font-family: var(--font-Roboto);
        color: var(--body-color);
        margin-bottom: 0;
    }
}

.event-date {
    font-family: var(--font-Roboto);
    font-size: 1.4rem;
}

.event-address,
.event-time {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 5px;
}

.icon-location,
.icon-clock {
    width: 18px;
    height: 18px;
    color: var(--theme-color);
}

.event-title {
    font-size: 2.2rem;
    color: var(--title-color);
    font-weight: 600;
    transition: var(--transition);

    &:hover {
        color: var(--theme-color);
    }
}

.custom-box {
    text-align: center;
    text-transform: capitalize !important;
}

//==============================Responsive styles==============================
// Mobile (345px trở xuống)
@media (max-width: 344px) {
    .custom-sub {
        font-size: 2.6rem !important;
    }

    .event {
        min-width: 305px !important;
    }

    .wrap-content {
        margin-top: 130px !important;
    }

    .event-author {
        justify-content: start;
    }
}

// Mobile (480px xuống 345px)
@media (max-width: 480px) and (min-width: 345px) {
    .custom-sub {
        font-size: 2.6rem !important;
    }

    .event {
        min-width: 305px !important;
    }

    .wrap-content {
        margin-top: 130px !important;
    }

    .event-author {
        justify-content: start;
    }
}

// Tablet nhỏ (768px xuống 481px)
@media (max-width: 768px) and (min-width: 481px) {
    .event {
        min-width: 414px;
        position: relative;
        z-index: 2;
        display: block;
    }

    .wrap-content {
        margin-top: 130px !important;
    }

    .custom-colW100 {
        width: 100% !important;
    }

    .img_wrap {
        position: absolute;
        display: inline-block;
        left: -10px;
        top: -70px;
        overflow: hidden;
        background: transparent;
        z-index: 3;
    }

    .event-author {
        justify-content: center;
    }

    .event-date {
        display: flex;
        align-items: center;
        gap: 20px;
    }
}

// Tablet (820px xuống 769px)
@media (max-width: 820px) and (min-width: 769px) {
    .event {
        min-width: 414px;
        position: relative;
        z-index: 2;
        display: block;
    }

    .wrap-content {
        margin-top: 130px !important;
    }

    .custom-colW100 {
        width: 100% !important;
    }

    .img_wrap {
        position: absolute;
        display: inline-block;
        left: -10px;
        top: -70px;
        overflow: hidden;
        background: transparent;
        z-index: 3;
    }

    .event-author {
        justify-content: center;
    }

    .event-date {
        display: flex;
        align-items: center;
        gap: 20px;
    }
}

// Laptop nhỏ (1024px xuống 821px)
@media (max-width: 1024px) and (min-width: 821px) {
    .event {
        min-width: 460px !important;
    }

    .wrap-content {
        margin-top: 130px !important;
    }

    .event-author {
        justify-content: start;
    }
}

// PC & Laptop lớn (1280px xuống 1025px)
@media (max-width: 1280px) and (min-width: 1025px) {
}

//==============================Responsive styles==============================
// Mobile (345px trở xuống)
@media (max-width: 344px) {
    .custom-sub {
        font-size: 2.6rem !important;
    }

    .event {
        min-width: 305px !important;
    }

    .wrap-content {
        margin-top: 130px !important;
    }

    .event-author {
        justify-content: start;
    }
}

// Mobile (480px xuống 345px)
@media (max-width: 480px) and (min-width: 345px) {
    .custom-sub {
        font-size: 2.6rem !important;
    }

    .event {
        min-width: 305px !important;
    }

    .wrap-content {
        margin-top: 130px !important;
    }

    .event-author {
        justify-content: start;
    }
}

// Tablet nhỏ (768px xuống 481px)
@media (max-width: 768px) and (min-width: 481px) {
    .event {
        min-width: 414px;
        position: relative;
        z-index: 2;
        display: block;
    }

    .wrap-content {
        margin-top: 130px !important;
    }

    .custom-colW100 {
        width: 100% !important;
    }

    .img_wrap {
        position: absolute;
        display: inline-block;
        left: -10px;
        top: -70px;
        overflow: hidden;
        background: transparent;
        z-index: 3;
    }

    .event-author {
        justify-content: center;
    }

    .event-date {
        display: flex;
        align-items: center;
        gap: 20px;
    }
}

// Tablet (820px xuống 769px)
@media (max-width: 820px) and (min-width: 769px) {
    .event {
        min-width: 414px;
        position: relative;
        z-index: 2;
        display: block;
    }

    .wrap-content {
        margin-top: 130px !important;
    }

    .custom-colW100 {
        width: 100% !important;
    }

    .img_wrap {
        position: absolute;
        display: inline-block;
        left: -10px;
        top: -70px;
        overflow: hidden;
        background: transparent;
        z-index: 3;
    }

    .event-author {
        justify-content: center;
    }

    .event-date {
        display: flex;
        align-items: center;
        gap: 20px;
    }
}

// Laptop nhỏ (1024px xuống 821px)
@media (max-width: 1024px) and (min-width: 821px) {
    .event {
        min-width: 460px !important;
    }

    .wrap-content {
        margin-top: 130px !important;
    }

    .event-author {
        justify-content: start;
    }
}

// PC & Laptop lớn (1280px xuống 1025px)
@media (max-width: 1280px) and (min-width: 1025px) {
}
