.banner-container {
    --theme-color: #0d5ef4;
    --theme-color2: #f20f10;
    --title-color: #0f2239;
    --body-color: #4d5765;
    --smoke-color: #f3f7fb;
    --black-color: #000000;
    --white-color: #ffffff;
    --border-color: #ffffff33;
    --light-color: #72849b;
    --yellow-color: #ffb539;
    --success-color: #28a745;
    --error-color: #dc3545;
    --border-color: #ecf1f9;
    --main-container: 1400px;
    --header-top: 54px;
    --header-nav: 106px;
    --container-gutters: 24px;
    --section-space: 120px;
    --section-space-mobile: 80px;
    --section-title-space: 70px;
    --ripple-ani-duration: 5s;
    --transition: all 0.3s linear;
    --animation-fadeIn: slideIn 0.3s ease forwards;
    --animation-time-during: 7s linear infinite;
    --font-Roboto: 'Roboto', serif;
    width: 100%;
    min-height: 258px;
}

.wrapper {
    height: 100%;
}

.bg {
    width: 100%;
    min-height: 258px;
    background-image: url('../../assets/images/Home/Banner/cta_1_1.webp');
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    padding: 30px 0;

    &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: var(--title-color);
        opacity: 0.8;
        transition: opacity 0.3s ease;
    }
}

.container {
    max-width: var(--main-container);
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    overflow: hidden;
    z-index: 2;

    .img-mail {
        width: 38px;
        height: 38px;
        object-fit: cover;
    }

    .heading {
        width: 57%;
        display: flex;
        flex-direction: column;
    }

    .content {
        display: flex;
        align-items: center;
        gap: 20px;
        flex-wrap: wrap;

        .title {
            font-size: 44px;
            font-weight: 600;
            color: var(--white-color);
        }

        .description {
            color: var(--white-color);
        }
    }

    .join-button {
    }

    .btn-primary {
    }

    .watch {

        .play-link {
            position: relative;
            display: block;
            width: 80px;
            height: 80px;
            line-height: 100px;
            text-align: center;
            top: 30%;
            background-color: transparent;

            .icon {
                font-size: 4rem;
                color: #ffffff;
            }

            &::before {
                content: '';
                position: absolute;
                width: 80px;
                height: 80px;
                background: var(--white-color);
                border-radius: 50%;
                margin-left: -20px;
                opacity: 0.2;
                animation: ripple 8s linear infinite;
            }

            &::after {
                content: '';
                position: absolute;
                width: 60px;
                height: 60px;
                background: var(--white-color);
                border-radius: 50%;
                margin-top: 10px;
                margin-left: -50px;
                opacity: 0.2;
                animation: ripple 4s linear infinite;
            }
        }
    }
}

@keyframes ripple {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 0;
    }
    30% {
        opacity: 0.4;
    }
    100% {
        -webkit-transform: scale(1.5);
        transform: scale(1.5);
        opacity: 0;
    }
}

//==============================Responsive styles==============================
// Mobile nhỏ (dưới 480px)
@media (max-width: 480px) {
    .content {
        flex-direction: column;
        padding: 0 30px !important;
    }

    .heading {
        width: 100% !important;
        text-align: center;
    }

    .title {
        font-size: 2.6rem !important;
    }

    .bg {
        height: 659px;
        background-position: center !important;
    }

    .img-mail {
        width: 90px !important;
        height: 90px !important;
    }

    .play-link {
        position: absolute;
        top: 50%;
        left: 30%;
        transform: translate(50%, 50%);
    }
}

// Tablet (768px to 480px)
@media (max-width: 768px) and (min-width: 480px) {
    .content {
        justify-content: center;
        // flex-direction: column;
    }

    .bg {
        height: 400px;
        background-position: center !important;
    }

    .title {
        font-size: 3.6rem !important;
    }

    .play-link {
        position: absolute;
        top: -30% !important;
        left: 38% !important;
        transform: translate(50%, 50%);
    }
}   

// Laptop nhỏ (820px to 768px)
@media (max-width: 820px) and (min-width: 768px) {
    .content {
        justify-content: center;
    }

    .bg {
        height: 400px;
        background-position: center !important;
    }

    .title {
        font-size: 3.6rem !important;
    }

    .play-link {
        position: absolute;
        top: -30% !important;
        left: 38% !important;
        transform: translate(50%, 50%);
    }
}

// Laptop nhỏ (1024px to 820px)
@media (max-width: 1024px) and (min-width: 821px) {
    .content {
        justify-content: center;
    }

    .bg {
        height: 400px;
        background-position: center !important;
    }

    .title {
        font-size: 3.6rem !important;
    }

    // .play-link {
    //     position: absolute;
    //     top: -30% !important;
    //     left: 38% !important;
    //     transform: translate(50%, 50%);
    // }

    .watch {
        display: flex;
        justify-content: center;
    }
}

// PC & Laptop lớn (1280px trở xuống)
@media (max-width: 1280px) {
}
